@font-face {
   font-family: 'Crimson Text';
   src: url(../font/CrimsonText-Roman.ttf) format('ttf');
   font-weight: 400;
   font-style: normal
}

* {
   box-sizing: border-box;
}

img {
   max-width: 100%
}

h1,
h2,
h3,
p,
li,
ul {
   padding: 0;
   margin: 0
}

body {
   min-width: 320px;
   margin: 0 auto;
   overflow-x: hidden;
   font-family: 'Crimson Text', sans-serif;
   background: #080809 url(../img/bg.jpg) no-repeat center center / 100% 100% fixed
}

.container {
   max-width: calc(1440px - 30px);
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px
}

.active {
   display: block !important;
   opacity: 1;
   transition: opacity .3s linear
}

.inactive {
   display: none !important;
   opacity: 0;
   transition: opacity .3s linear
}

.heading {
   font-size: 61px
}

.paragraph {
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   background: linear-gradient(180deg, rgba(255, 210, 141, 1) 47%, rgba(53, 32, 0, 1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #ffd28d;
   margin-bottom: 10px
}

.text {
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   color: #DBAE64
}

.logo {
   display: none;
   margin: 0 15px;
}

.logo__wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 110px
}

.logo__image {
   max-width: 380px
}

.btn {
   width: 45px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid rgb(219, 174, 100, .2);
   transition: border .3s linear;
}

.btn:hover {
   border: 1px solid rgb(219, 174, 100, 1);
   transition: border .3s linear
}

.btn__arrow {
   margin: auto auto;
   pointer-events: none
}

.btn__arrow_rotate {
   transform: rotateZ(180deg)
}

.heroes__wrapper {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 100px
}

.heroes__wrapper .hero {
   margin-bottom: 76px
}

.heroes__wrapper .hero>div {
   pointer-events: none
}

.hero {
   max-width: 190px;
   padding: 3px;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 50px
}

.hero__avatar {
   z-index: 1;
   padding: 3px;
   max-width: calc(100% - 6px);
   position: relative;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-bottom: 15px
}

.hero__avatar:before {
   content: '';
   display: inline-block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   background: linear-gradient(138deg, #F4DCB3 0%, #5C3D06 100%);
   border-radius: 50%
}

.hero__img {
   border-radius: 50%;
   margin: auto auto;
   position: relative;
   cursor: pointer
}

.slider {
   display: none;
   justify-content: center;
   margin-top: 110px
}

.slider__row {
   position: relative;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   margin: 0 0;
}

.slider__wrapper {
   justify-content: center;
   align-items: center;
   display: flex;
   position: relative
}

.slider__wrapper .hero {
   max-width: 380px
}

.slider__wrapper .label {
   display: block;
   left: 12px;
   bottom: 17px

}

.slider__btn {
   top: 200px;
   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex
}

.slider__line {
   width: 100%;
   text-align: center;
   margin-top: 60px
}

.slider__line-img {
   width: 12px;
   height: auto
}

.label {
   position: absolute;
   left: -5px;
   bottom: -11px
}

.label__paragraph {
   z-index: 10;
   Font-Family: 'Crimson Text';
   Font-weight: Bold;
   Font-Size: 29px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(138deg, #F4DCB3 0%, #5C3D06 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-transform: uppercase;
   padding: 0;
   margin: 0
}

.navigation {
   padding: 0 130px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   width: 100%;
   top: 65px;
   left: 0;
   right: 0
}

.navigation__btn {
   font-size: 26px;
   border-bottom: 1px solid rgb(219, 174, 100, .2);
   transition: border .3s linear;
   padding-bottom: 5px;
   cursor: pointer
}

.navigation__btn:hover {
   border-bottom: 1px solid rgb(219, 174, 100, 1);
   transition: border .3s linear
}

.navigation__img {
   max-width: 88px;
   pointer-events: none
}

.navigation__logo-btn {
   display: inline-block
}